# TimeSeries Operations

In this lesson we'll explore time shifting and resampling (grouping). Two of the most common operations with Time Series.

In [1]:
import pandas as pd
import numpy as np

### Time Shifting

In [2]:
ts = pd.Series(
    np.random.randn(10) * 10 + 500,
    index=pd.date_range(start='2018-01-01', periods=10, freq='D'))

In [3]:
ts

2018-01-01    494.003230
2018-01-02    480.841094
2018-01-03    507.142622
2018-01-04    502.390595
2018-01-05    492.511207
2018-01-06    488.935809
2018-01-07    495.473784
2018-01-08    503.057518
2018-01-09    496.182339
2018-01-10    504.085163
Freq: D, dtype: float64

In [4]:
ts.shift(1)

2018-01-01           NaN
2018-01-02    494.003230
2018-01-03    480.841094
2018-01-04    507.142622
2018-01-05    502.390595
2018-01-06    492.511207
2018-01-07    488.935809
2018-01-08    495.473784
2018-01-09    503.057518
2018-01-10    496.182339
Freq: D, dtype: float64

In [5]:
pd.DataFrame({
    'Original': ts,
    'Shfit (1)': ts.shift(1),
    'Shift (2)': ts.shift(2)
})

              Original   Shfit (1)   Shift (2)
2018-01-01  494.003230         NaN         NaN
2018-01-02  480.841094  494.003230         NaN
2018-01-03  507.142622  480.841094  494.003230
2018-01-04  502.390595  507.142622  480.841094
2018-01-05  492.511207  502.390595  507.142622
2018-01-06  488.935809  492.511207  502.390595
2018-01-07  495.473784  488.935809  492.511207
2018-01-08  503.057518  495.473784  488.935809
2018-01-09  496.182339  503.057518  495.473784
2018-01-10  504.085163  496.182339  503.057518

These operations are usually employed to compare the timeseries with previous values of the same time series. For example, calculating the percent change over the previous period:

In [6]:
df = pd.DataFrame({
    'Original': ts,
    'Shifted': ts.shift(1)
})
df

              Original     Shifted
2018-01-01  494.003230         NaN
2018-01-02  480.841094  494.003230
2018-01-03  507.142622  480.841094
2018-01-04  502.390595  507.142622
2018-01-05  492.511207  502.390595
2018-01-06  488.935809  492.511207
2018-01-07  495.473784  488.935809
2018-01-08  503.057518  495.473784
2018-01-09  496.182339  503.057518
2018-01-10  504.085163  496.182339

In [7]:
(df['Original'] / df['Shifted']) - 1

2018-01-01         NaN
2018-01-02   -0.026644
2018-01-03    0.054699
2018-01-04   -0.009370
2018-01-05   -0.019665
2018-01-06   -0.007260
2018-01-07    0.013372
2018-01-08    0.015306
2018-01-09   -0.013667
2018-01-10    0.015927
Freq: D, dtype: float64

You can see how much sales grew or shrank vs the previous month.

This is a particularly silly example, because there's a pandas method specially intended for percentage changes: [`pct_change()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.pct_change.html), so we don't even need `shift`:

In [8]:
ts.pct_change()

2018-01-01         NaN
2018-01-02   -0.026644
2018-01-03    0.054699
2018-01-04   -0.009370
2018-01-05   -0.019665
2018-01-06   -0.007260
2018-01-07    0.013372
2018-01-08    0.015306
2018-01-09   -0.013667
2018-01-10    0.015927
Freq: D, dtype: float64

Shifting also works with smaller periods, just changing the time of the original timestamps:

In [9]:
ts.shift(1, freq='15Min')

2018-01-01 00:15:00    494.003230
2018-01-02 00:15:00    480.841094
2018-01-03 00:15:00    507.142622
2018-01-04 00:15:00    502.390595
2018-01-05 00:15:00    492.511207
2018-01-06 00:15:00    488.935809
2018-01-07 00:15:00    495.473784
2018-01-08 00:15:00    503.057518
2018-01-09 00:15:00    496.182339
2018-01-10 00:15:00    504.085163
Freq: D, dtype: float64

## Time Frequency

We'll now see how to change the frequency of our indexes. These will be just raw adjustments we'll do to directly modify the frequency of our data structure:

In [10]:
ts = pd.Series(
    np.random.randn(10) * 10 + 500,
    index=pd.date_range(start='2018-01-01', periods=10, freq='H'))
ts

2018-01-01 00:00:00    489.919450
2018-01-01 01:00:00    498.998069
2018-01-01 02:00:00    499.096276
2018-01-01 03:00:00    503.100149
2018-01-01 04:00:00    497.605738
2018-01-01 05:00:00    504.973549
2018-01-01 06:00:00    516.273670
2018-01-01 07:00:00    512.838193
2018-01-01 08:00:00    504.017753
2018-01-01 09:00:00    508.333218
Freq: H, dtype: float64

In [11]:
ts.asfreq('45min')

2018-01-01 00:00:00    489.919450
2018-01-01 00:45:00           NaN
2018-01-01 01:30:00           NaN
2018-01-01 02:15:00           NaN
2018-01-01 03:00:00    503.100149
2018-01-01 03:45:00           NaN
2018-01-01 04:30:00           NaN
2018-01-01 05:15:00           NaN
2018-01-01 06:00:00    516.273670
2018-01-01 06:45:00           NaN
2018-01-01 07:30:00           NaN
2018-01-01 08:15:00           NaN
2018-01-01 09:00:00    508.333218
Freq: 45T, dtype: float64

In [12]:
ts.asfreq('45Min', method='ffill')

2018-01-01 00:00:00    489.919450
2018-01-01 00:45:00    489.919450
2018-01-01 01:30:00    498.998069
2018-01-01 02:15:00    499.096276
2018-01-01 03:00:00    503.100149
2018-01-01 03:45:00    503.100149
2018-01-01 04:30:00    497.605738
2018-01-01 05:15:00    504.973549
2018-01-01 06:00:00    516.273670
2018-01-01 06:45:00    516.273670
2018-01-01 07:30:00    512.838193
2018-01-01 08:15:00    504.017753
2018-01-01 09:00:00    508.333218
Freq: 45T, dtype: float64

In [13]:
ts.asfreq('45Min', method='bfill')

2018-01-01 00:00:00    489.919450
2018-01-01 00:45:00    498.998069
2018-01-01 01:30:00    499.096276
2018-01-01 02:15:00    503.100149
2018-01-01 03:00:00    503.100149
2018-01-01 03:45:00    497.605738
2018-01-01 04:30:00    504.973549
2018-01-01 05:15:00    516.273670
2018-01-01 06:00:00    516.273670
2018-01-01 06:45:00    512.838193
2018-01-01 07:30:00    504.017753
2018-01-01 08:15:00    508.333218
2018-01-01 09:00:00    508.333218
Freq: 45T, dtype: float64

In [14]:
ts.asfreq?

In these examples, we've gone from a "less frequent" index to a "more frequent" index. But we could go the other way:

In [15]:
ts = pd.Series(
    np.random.randn(20) * 10 + 500,
    index=pd.date_range(start='2018-01-01', periods=20, freq='30min'))
ts

2018-01-01 00:00:00    516.845407
2018-01-01 00:30:00    502.287105
2018-01-01 01:00:00    516.660736
2018-01-01 01:30:00    500.727604
2018-01-01 02:00:00    527.835516
2018-01-01 02:30:00    510.287339
2018-01-01 03:00:00    484.318581
2018-01-01 03:30:00    494.293924
2018-01-01 04:00:00    495.898691
2018-01-01 04:30:00    504.273963
2018-01-01 05:00:00    491.837654
2018-01-01 05:30:00    504.900328
2018-01-01 06:00:00    518.542890
2018-01-01 06:30:00    508.227377
2018-01-01 07:00:00    492.701546
2018-01-01 07:30:00    506.695879
2018-01-01 08:00:00    515.964603
2018-01-01 08:30:00    492.576360
2018-01-01 09:00:00    498.114972
2018-01-01 09:30:00    508.470433
Freq: 30T, dtype: float64

In [16]:
ts.asfreq('2H')

2018-01-01 00:00:00    516.845407
2018-01-01 02:00:00    527.835516
2018-01-01 04:00:00    495.898691
2018-01-01 06:00:00    518.542890
2018-01-01 08:00:00    515.964603
Freq: 2H, dtype: float64

In [17]:
ts.asfreq('2H25min')

2018-01-01 00:00:00    516.845407
2018-01-01 02:25:00           NaN
2018-01-01 04:50:00           NaN
2018-01-01 07:15:00           NaN
Freq: 145T, dtype: float64

In [18]:
ts.asfreq('2H25min', method='ffill')

2018-01-01 00:00:00    516.845407
2018-01-01 02:25:00    527.835516
2018-01-01 04:50:00    504.273963
2018-01-01 07:15:00    492.701546
Freq: 145T, dtype: float64

But, what if you want to do some more "advanced" filling. For example, filling the new freq values with the "mean"? For that, we'll use resampling:

### Resampling

Resampling a timeseries is converting it to another time frequency. If you're going from high frequency to low frequency, the process is called "downsampling", and it involves an aggregation process. For example, you have daily sales data, and you want to aggregate it by month. You'll be "grouping" your daily sales per month, and you need to decide the aggregation operation to perform. For example, `sum` to get the total sales per month, or `mean` to get the average sale. Let's use an example:

In [19]:
all_days_2018 = pd.date_range(start='2018-01-01', end='2018-12-31', freq='D')
ts = pd.Series(
    np.random.randn(20) * 10 + 500,
    index=np.random.choice(all_days_2018, size=20))

ts.sort_index(inplace=True)
ts

2018-01-30    482.965663
2018-02-05    503.921899
2018-02-12    508.788190
2018-02-21    491.974206
2018-03-09    519.917458
2018-03-23    510.913895
2018-03-28    506.757993
2018-04-12    513.377969
2018-04-21    478.386838
2018-05-13    495.527795
2018-05-29    506.797391
2018-06-11    523.577395
2018-07-15    511.704263
2018-07-24    502.095249
2018-09-07    501.543196
2018-10-14    494.422986
2018-11-26    491.299111
2018-12-02    511.221760
2018-12-18    496.276670
2018-12-20    504.393265
dtype: float64

January sales:

In [20]:
ts['2018-01']

2018-01-30    482.965663
dtype: float64

In [21]:
ts['2018-01'].sum()

482.9656633119952

February sales:

In [22]:
ts['2018-02']

2018-02-05    503.921899
2018-02-12    508.788190
2018-02-21    491.974206
dtype: float64

In [23]:
ts['2018-02'].sum()

1504.684294312036

**Downsampling**: We'll now use `resample` to "group" the sales monthly (downsampling our TimeSeries), and calculate the total sales per month:

In [24]:
ts.resample('M').sum()

2018-01-31     482.965663
2018-02-28    1504.684294
2018-03-31    1537.589347
2018-04-30     991.764807
2018-05-31    1002.325186
2018-06-30     523.577395
2018-07-31    1013.799512
2018-08-31       0.000000
2018-09-30     501.543196
2018-10-31     494.422986
2018-11-30     491.299111
2018-12-31    1511.891695
Freq: M, dtype: float64

The parameter `M` means "month end frequency. We could instead choose "Month Start":

In [25]:
ts.resample('MS').sum()

2018-01-01     482.965663
2018-02-01    1504.684294
2018-03-01    1537.589347
2018-04-01     991.764807
2018-05-01    1002.325186
2018-06-01     523.577395
2018-07-01    1013.799512
2018-08-01       0.000000
2018-09-01     501.543196
2018-10-01     494.422986
2018-11-01     491.299111
2018-12-01    1511.891695
Freq: MS, dtype: float64

Which would of course yield the same results, but the index contains the first day of each month. More correctly speaking, in this example, we're collecting sales of _"the period January 2018"_. Pandas also has a `Period` type, which we can use with the `kind` parameter:

In [26]:
monthly_sales = ts.resample('M', kind='period').sum()
monthly_sales

2018-01     482.965663
2018-02    1504.684294
2018-03    1537.589347
2018-04     991.764807
2018-05    1002.325186
2018-06     523.577395
2018-07    1013.799512
2018-08       0.000000
2018-09     501.543196
2018-10     494.422986
2018-11     491.299111
2018-12    1511.891695
Freq: M, dtype: float64

In [27]:
monthly_sales.index

PeriodIndex(['2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
             '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12'],
            dtype='period[M]', freq='M')

As you can see, the Index is a `PeriodIndex`. Each entry in the index is of type `pd.Period`:

In [28]:
monthly_sales.index[0]

Period('2018-01', 'M')

Period support basic arithmetic operations which makes them convenient to express these time ranges:

In [29]:
pd.Period('2018-01') + 5

Period('2018-06', 'M')

In [30]:
pd.Period('2018-01', freq='H') + 9

Period('2018-01-01 09:00', 'H')

**Upsampling**: With upsampling we'll convert a low-frequency time series to a higher frequency time series. We'll add more "time points". Let's use an example:

We'll start with 3 months of sales, only 3 data points:

In [31]:
ts = pd.Series(
    np.random.randn(3) * 10 + 500,
    index=pd.date_range(start='2018-01-01', periods=3, freq='MS'))
ts

2018-01-01    483.294815
2018-02-01    498.828492
2018-03-01    525.966153
Freq: MS, dtype: float64

We'll now `resample` it to be "Semi Month", every 15 days:

In [32]:
ts.resample('SMS').asfreq()

2018-01-01    483.294815
2018-01-15           NaN
2018-02-01    498.828492
2018-02-15           NaN
2018-03-01    525.966153
Freq: SMS-15, dtype: float64

And as you can see, we have a few missing values, because we don't have data for those specific time periods. What can you do with that missing data? One option is to fill it with previous data:

In [33]:
ts.resample('SMS').ffill()

2018-01-01    483.294815
2018-01-15    483.294815
2018-02-01    498.828492
2018-02-15    498.828492
2018-03-01    525.966153
Freq: SMS-15, dtype: float64